.auth {
 margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-wrapper {
  background-color: var(--white);
  box-shadow: 0 0 1rem 2px rgba(0, 0, 0, 0.05);
  padding: 3rem;
  width: 40rem;
  border-radius: 1rem;
}

.auth-header {
  text-align: center;
  font-size: 1.4rem;
}

.auth-header h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--black);
}

.auth-header p {
  margin-bottom: 1.5rem;
  color: var(--black);
}

.auth-header a {
  color: var(--primary)!important;
  text-decoration: underline !important;
}

.auth-form-wrapper button {
  float: right;
}

.form-group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form-wrapper {
  display: flex;
  gap: 1rem;
}

.input-error {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--error);
  /* margin-top: 2rem; */
}
